# Electron 二进制下载镜像（解决 404）：使用 npmmirror，末尾斜杠不可省略
# 或者使用 github 的 release 地址
# electron_mirror=https://github.com/electron/electron/releases/download/v
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_custom_dir={{ version }}
